:root {
  --cor-bg: #00122e;
  --cor-secundaria: #acacac;
  --cor-terciaria: #fff;
}

/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; 
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(145deg, #e0e7ff, #f3f4f6); 
  color: var(--cor-secundaria);
}
